[submodule "vote"]
	path = vote
	url = https://github.com/Primus-Learning/vote.git
[submodule "result"]
	path = result
	url = https://github.com/Primus-Learning/result.git
[submodule "worker"]
	path = worker
	url = https://github.com/Primus-Learning/worker.git
